img.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: min-content;
    
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(196, 237, 214);
   font-size: 110%;
   /*background-image: url(/Farmsun/images/background2.png);*/
   
}
.contact-info{
    display: flex;
    align-content: flex-end;
    justify-content: end;
   /* float: right;*/
    padding-right:20px;
    padding: 5px 40px 5px 5px;
    font-size: 110%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*border:2px solid #5a7432;*/
    box-shadow: 2px 4px 2px 0px rgba(51, 49, 49, 0.4);
}
a{
    color: rgb(255, 5, 192);
    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
    font-size: 130%;
}
.menu{
        background-color: #5a7432;
        width: fit-content;
        
}
.strip{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    background-color: #94b33d;
   /* width: -2.5em;*/
    min-height: fit-content;
    box-shadow: 10px 8px 10px 0px rgba(53, 51, 51, 0.4);
    margin: 20px;
    border-radius: 25px;


}
.menu{
    position: relative;
    display: inline;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: 30px;
    background-color: #94b33d;
    font-size: 120%;
   /* font-size: 120%;*/
    color: rgb(255, 5, 192);
}
.menu:hover{
    display: block;
    cursor: pointer;
    background-color: rgb(251, 255, 0);
    color: rgb(34, 111, 179);
    z-index: 1;
    border-radius: 25px;
}
/*.products{
    
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        width: auto;
        height: 30px;
        background-color: #bde286;
        font-size: 120%;
    
}*/
.paragraph{
    text-align: justify;
    font-family: 'Segoe UI',Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 110% ;
    padding-top: 10px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50PX;
    padding-right: 50px;
    color: rgb(0, 0, 0);
    
    
}
.footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 110%;
    line-height: 1.5em;
    
}

.footer p{
    font-size: 120%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    text-decoration: underline;
    text-transform: capitalize;
}
.footer div{
    padding-left: 20px;
    padding-right: 20px;
}

.striplink:hover{

    text-decoration: none;

}

